<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>◦Gesturesi11◦</string>
	<key>items</key>
	<array>
		<dict>
			<key>label</key>
			<string>Hiếu Vũ ◦ 🇻🇳</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>icon</key>
			<string>twitter.png</string>
		</dict>

		<dict>
			<key>label</key>
			<string>▽ Status Bar Style</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>key</key>
			<string>statusBarMode</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>			
			</array>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>iPad</string>
				<string>iPad Extra</string>
				<string>iPhone X</string>
				<string>iPhone X*</string>
				<string>iPhone 11*</string>
			</array>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>▷ Miniature Gestures</string>
			<key>key</key>
			<string>minimalGestures</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>label</key>
			<string>✯ General options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ CC StatusBar</string>
			<key>key</key>
			<string>ccStatusBar</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Combination Button X</string>
			<key>key</key>
			<string>xCombination</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Quick LS Shortcuts</string>
			<key>key</key>
			<string>lsShortcuts</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ No Breadcrumbs</string>
			<key>key</key>
			<string>noBreadcum</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Swipe To Reachability</string>
			<key>key</key>
			<string>noReachability</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>label</key>
			<string>◦ Reduce Icon Row</string>
			<key>key</key>
			<string>reduceRows</string>
			<key>defaults</key>
			<string>com.hius.Gesturesi11Prefs</string>
			<key>default</key>
			<false/>
			<key>PostNotification</key>
			<string>com.hius.Gesturesi11Prefs.settingschanged</string>
		</dict>

		<dict>
			<key>label</key>
			<string>✯ More Options</string>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>

		<!-- Battery Percentage -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>▷ Battery</string>
			<key>detail</key>
			<string>BatteryGListPrefs</string>
		</dict>

		<!-- Home Bar -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>▷ Home Bar</string>
			<key>detail</key>
			<string>HomeBarGListPrefs</string>
		</dict>

		<!-- Inset -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>▷ Inset</string>
			<key>detail</key>
			<string>InsetGListPrefs</string>
		</dict>

		<!-- Keyboard -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>▷ Keyboard</string>
			<key>detail</key>
			<string>KeyboardGListPrefs</string>
		</dict>

		<!-- Miscellaneous -->
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>▷ Miscellaneous</string>
			<key>detail</key>
			<string>MiscellaneousGListPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>⚠ Miniature Gestures: Reduce the ability to switch applications quickly when swiping left or right on the bottom edge.
✔ RESPRING TO TAKE EFFECT.</string>
		</dict>
	</array>
</dict>
</plist>